In [1]:
import numpy as np
import pandas as pd

from pathlib import Path

import matplotlib.pyplot as plt
import seaborn as sns
sns.set();

path = Path.cwd().parent.parent.joinpath('results').joinpath('all_results.csv')

In [2]:
results_df = pd.read_csv(path)
results_df.head()

,optim_alg,run,pso_steps,pso_n_particles,pso_iter_n,gen_pop_size,gen_mutation_rate,gen_selection_rate,gen_selection_strategy,field_x,field_y,n_bots,trail_decay,p_resource,resource_dist_mean,resource_dist_std,p_leave,p_follow,cost,is_selected
0,pso,2,5000,10,20,NaN,NaN,NaN,NaN,100,100,10,100,0.01,10,3,0.452631,0.273623,283,NaN
1,pso,2,5000,10,20,NaN,NaN,NaN,NaN,100,100,10,100,0.01,10,3,0.127068,0.728604,130,NaN
2,pso,2,5000,10,20,NaN,NaN,NaN,NaN,100,100,10,100,0.01,10,3,0.960978,0.363459,258,NaN
3,pso,2,5000,10,20,NaN,NaN,NaN,NaN,100,100,10,100,0.01,10,3,0.842896,0.280287,275,NaN
4,pso,2,5000,10,20,NaN,NaN,NaN,NaN,100,100,10,100,0.01,10,3,0.682329,0.930724,306,NaN

(200, 20)